:root {
	--form-max-width: 10rem;
}

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	padding: 1px 6px;
	border: 1px outset buttonborder;
	border-radius: 3px;
	color: buttontext;
	background-color: buttonface;
	text-decoration: none;
	cursor: default;
	margin-left: 40px;
}

a:hover {
	background-color: #e1e1e1;
}

a:active {
	background-color: #b6b6b6;
}

ul.message-list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

div.message-container {
	border: 2px solid black;
	border-radius: 8px;
	padding: 1rem;
	max-width: 380px;
}

.name-date-container {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	margin-bottom: 0.5rem;
}

div.message-container h2 {
	margin: 0;
}

div.message-container div.date {
	color: #6d6c74;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

form div.input-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: var(--form-max-width);
	margin: auto;
}

form div.input-container label {
	min-width: 10rem;
	color: #6d6c74;
}

form div.input-container.text-area textarea {
	resize: none;
}

.input-field {
	border-radius: 3px;
}

form button {
	margin: auto;
}
